.App {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    max-width: 1000px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.todoListHeader {
    margin: 30px auto 30px auto;
    max-width: 400px;
    padding: 10px;
    background-color: ghostwhite;
    border-radius: 5px;
    box-shadow: 0px 0px 32px -7px #000215;
    text-align: center;

}

.todoList {
    width: 300px;

}

.todoList > div {
    padding: 10px;
}

.todoList-task {

}

.filterActive {
    background-color: cornflowerblue;
}

.error {
    border: 3px solid red;
    background-color: rosybrown;
}

.done {
    opacity: 0.5;
}
