.App {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  max-width: 1000px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.todoList {
  width: 300px;

}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.filterActive {
  background-color: blue;
}

.error {
  border: 3px solid red;
  background-color: rosybrown;
}

.done {
  opacity: 0.5;
}
