.todoList {
    max-width: 230px;
    border-radius: 5px;
    background-color:ghostwhite;
    padding: 10px 30px 10px 30px;
    text-align: center;
    margin: 15px;
    position: relative;
    box-shadow: 0px 0px 32px -7px #010636;
}
.todoListHeaderTitle {
    font-size: 18px;
    font-weight: bold;
    color: #5b625d;
    margin-bottom: 20px;
    display: block;
}
.taskWrap {
    margin-top: 20px;
    margin-bottom: 20px;

}
.delButton {
    border: none;
    position: absolute;
    top: -10px;
    font-weight: bold;
    color: white;
    right: -10px;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    background-color: lightgreen;
}
.delButton:hover {

    background-color: lightcoral;
}